# Python / venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.env

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db
*.log

# Flask / temp files
instance/